body {
    align-items: center;      
    margin: 0; 
    background-color: rgb(105, 141, 163);

}
/* Home page */
.homeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
    text-decoration: none;
    padding: 10px;
}
.links {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.links:hover {
    color: grey;
    border-bottom: 1px solid grey;
}
/* Log in page */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
   height: 200px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    height: 200px;
   
}

/* Habits css */


.habitsHeadline {
    text-align: center;
    color: aliceblue;
}

.habitInputs{
    
}

.habitFormContainer {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.habitForm {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    
    
}

.habitsContainer {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 500px;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
   
    


.filterMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.titleInput {
        height: 1.2rem;
}

.postHabitsBtn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.postHabitsBtn:hover {
    border: 1px solid black;
}

.deleteHabitBtn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteHabitBtn:hover {
    border: 1px solid black;
}

.renderedHabits {
    
    
}

#priority {
    text-align: center;
}